/* _Shared_Style_ */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap');
body{
font-family: 'Work Sans', sans-serif;
}
/* __Header-styles__ */
header{
    max-width:1450px;
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    margin: 30px;
    
}
nav a{
    text-decoration: none;
    color: #424242;

}

.nav-heading{
    color: #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: normal;
}

/* ___banner-style___ */

.banner-cont{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    color: var(--Dark-01, #131313);
    font-weight: 700;
    line-height: normal;
}
.banner-descript{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: beige;
    padding: 15px;
    margin: 20px;
    cursor: pointer;
}

.banner img{
    width: 100%;

}
/* __responsive-style_ */

@media screen and (max-width:577px) {
  header{
    width: 100%;
    padding: 20px;
  }
  .banner-title{
    font-size: 2rem;
  }
  nav{
    flex-direction: column;
  }
}

@media screen and (mix-width:577px) and (max-width:992){
    nav{
        flex-direction: column;
    }
}